---
layout: layouts/default.njk
title: End of Year Survey Received
description: Looking forward to a new year of Virtual Coffee!
permalink: /end-of-year-survey/thanks/
---

{% from "macros/forms.njk" import netlifyForm %}


<div class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-4">
        {% include "svg/undraw_Presentation_62e1.svg" %}
      </div>
      <div class="col-sm-8">
        <h1 class="display-4">Your Response was Received!</h1>
      </div>
    </div>
  </div>
</div>

<div class="py-5">
  <div class="container bodycopy">
    <div class="lead mb-5">
      <h2>Thank you for submitting the end of the year survey!</h2>
      <p>We're happy to have you as part of this community, and we're looking forward to what's coming.</p>
    </div>

  </div>
</div>
